.todoFormContainer {
    margin-bottom: 30px;
}

.todoFormContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.todoFormContainer input {
    height: 30px;
    font-size: 1.3rem;
    padding: 10px 15px;
    border: none;
    width: 100%;
    border-radius: 5px;
}

.todoFormContainer button {
    border-radius: 0 5px 5px 0;
}

.todoFormContainer label {
    width: 50%;
}
